@import '../../styles.css';


.navbarcontainer{
    color: var(--nav-text);
    background-color: var(--nav-background);

    border-radius: 0.5rem;
    padding: 0.8rem;

    display: flex;
    flex-direction: column;
    box-shadow: 0 -2px 7px 1px var(--glow);

    max-width: 66rem;
    min-height: 50px;

    margin-left: auto;
    margin-right: auto;

    align-content: center;
    
    box-sizing: border-box;
}

.navbarhorizontal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarvertical {
    /* Set initial state for animation */
    max-height: 0; /* Hidden initially */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 0.25s ease-out; /* Smooth transition for max-height */
}

.navbarvertical.open {
    /* When menu is open, set a max-height that's large enough to show all content */
    /* You might need to adjust this value based on your actual menu height */
    max-height: 200px; /* Example: adjust as needed */
    transition: max-height 0.25s ease-in; /* Adjust timing and easing for appearance */
}


.navbarvertical ul{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding-top: 1rem; /* Add some padding to separate from the horizontal menu */
    padding-bottom: 1rem; /* Add some padding to the bottom */
}

.horizortal-menu{

}

.vertical-menu{
    /*width: 100%; /* Ensure it takes full width */
}


.vertical-menu  a {
    color: var(--nav-text);
    text-decoration: none;
}

.vertical-menu a:hover {
    color: var(--accent);
    text-shadow: 0px 2px 6px var(--glow);
    transition: color 0.15s;
}


.hamburger{
    background-color: transparent;
    border: none;
    stroke: var(--nav-text);
    stroke-width: 10;
    stroke-linecap: round;
    cursor: pointer; /* Indicate it's clickable */
    padding: 0;
}



.left{
    display: flex;
    align-items: center;
    min-height: 25px;
}

.left h1{
    font-size: 1rem;
}

.right{
    display: flex;
    align-items: center;
    font-size: 1rem;
    min-height: 25px;
}

.right nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.right nav a {
    color: var(--nav-text);
    text-decoration: none;
}

.right nav a:hover {
    color: var(--accent);
    text-shadow: 0px 2px 6px var(--glow);
    transition: color 0.15s;
}