@import '../../styles.css';


.navbar{
    color: var(--nav-text);
    background-color: var(--nav-background);

    border-radius: 0.5rem;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    box-shadow: 0 -2px 7px 1px var(--glow);

    max-width: 66rem;
    width: 100%;
    min-width: 30rem;
    align-content: center;

    margin-left: auto;
    margin-right: auto;
    
    box-sizing: border-box;
}

.hamburger{
    background-color: transparent;
    border: none;
    stroke: var(--nav-text);
}



.left{
    display: flex;
    align-items: center;
}

.left h1{
    font-size: 1rem;
}

.right{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.right nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.right nav a {
    color: var(--nav-text);
    text-decoration: none;
}

.right nav a:hover {
    color: var(--accent);
    text-shadow: 0px 2px 6px var(--glow);
    transition: color 0.15s;
}